<h2 class="page-header text-center">List of contacts</h2>
<p class="text-center">
  <a ng-href="#contacts/new" class="btn btn-lg btn-outline add-contact-btn">Add Contact</a>
</p>
<div class="row">
  <div class="col-md-6 col-lg-4" ng-repeat="contact in contactsList.contacts">
    <div class="media">
      <div class="media-left">
        <img class="thumbnail media-object" ng-src="{{contact.thumbnailUrl}}">
      </div>

      <div class="media-body">
        <div class="media-heading">
          <h4>{{contact.name}}</h4>
          <small>
              <a ng-href="#contacts/{{contact.id}}">
                <i class="glyphicon glyphicon-pencil edit-contract"></i>
              </a>
              <a ng-click="contactsList.deleteContact(contact)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
          </small>
        </div>

        <dl>
          <dt>Phone Number:</dt>
          <dd>{{contact.tel}}</dd>
          <dt>Email:</dt>
          <dd>{{contact.email}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
